# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment folders
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore system files
.DS_Store
